.general {
  //padding-bottom: 100px;
}

.title {
  color: var(--black);
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  margin-top: 100px;
}

.overview {
  display: flex;
  justify-content: stretch;
  padding-bottom: 100px;
  gap: 60px;

  .memory {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    &_btn {
      background-color: var(--lightest-gray);
      color: var(--black);
      padding: 8px 16px;
      font-size: 18px;
      font-weight: 500;
      line-height: 22px;
      border: 1px solid var(--lightest-gray);

      &_active {
        border: 1px solid var(--bright-purple);
      }
    }

  }

  //Todo: create Price Component

  .price {
    //position: relative;

    &_value {
      position: relative;

      span {
        color: var(--black);
        font-size: 36px;
        font-weight: 600;
        line-height: 44px;
      }

      .price_discount {
        position: absolute;
        top: 50%;
        left: 100%;
        margin-right: -50%;
        margin-left: 10px;
        transform: translateY(-50%);

        &_value {
          padding: 4px 8px;
          background: var(--exotic-pink);
          color: var(--white);
          border-radius: 8px;
          font-size: 12px;
          font-weight: 300;
          line-height: 18px;
          min-width: 48px;
          text-align: center;
        }
      }

      //position: relative;
    }

    &_old {
      //position: absolute;
      //top: 0;
      //margin-top: -20px;
      //left: 0;
      //margin-right: -50%;
      color: var(--purple-gray);
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
      text-decoration: line-through;
    }


  }

  .gallery {
    width: 520px;
    height: 100%;
  }

  .data {
    width: 659px;
  }

  .del_item {
    display: flex;
    //align-items.js: center;
    gap: 12px;

    p {
      color: var(--purple-gray);
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;

      b {
        font-weight: 600;
        color: var(--black);
      }
    }
  }

  .column {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .date {
    color: var(--black);
    font-size: 14px;
    font-weight: 600;
    line-height: 22px; /* 157.143% */
  }

  .cost {
    text-align: right;
    color: var(--black);
    font-size: 14px;
    font-weight: 600;
    line-height: 22px; /* 157.143% */

    .free {
      color: var(--bright-pink);
    }
  }

  .icon {
    width: 24px;
    height: 24px;
  }

  .consult_btn {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    white-space: nowrap;
  }
}

.main_info {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 31px;
  grid-row-gap: 20px;
  width: 100%;
  margin: 32px 0;

  .info_item {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .info_icon {
    width: 24px;
    height: 24px;
  }

  .info {
    font-size: 14px;
    line-height: 16px;

    &_title {
      color: #7B7189;
      font-weight: 400;
    }

    &_value {
      color: var(--black);
      font-weight: 600;
    }
  }

}

.block {
  width: 100%;
  padding: 19px 20px;
  border-radius: 12px;
  border: 1px solid var(--light-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &_down {
    border-radius: 12px 12px 0 0;
    //border-bottom: none;
  }

  &_end {
    align-items: flex-end;
  }

  &_up {
    border-radius: 0 0 12px 12px;
    border-top: none;
    padding: 19px 20px 20px;
  }

  &_gap {
    margin-bottom: 20px;
    gap: 20px;
  }

  .cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
  }

  &_small {
    .cart {
      gap: 12px;
    }

    //.button {
    //  width: 194px;
    //}
  }
}

.credit {
  &_info {
    display: flex;
    flex-direction: column;

    &_title {
      color: var(--purple-gray, #514761);
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
    }

    &_value {
      color: var(--black);
      font-size: 22px;
      font-weight: 500;
      line-height: 28px;
      white-space: nowrap;
    }
  }

  &_banks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;

    &_item {
      display: flex;
      align-items: center;
      padding: 13px 9px;
      width: 48px;
      height: 48px;
      border-radius: 12px;
      border: 1px solid var(--light-gray);
    }
  }

  &_btn {
    font-size: 16px;
    line-height: 24px;
    min-width: 194px;
    white-space: nowrap;

    svg * {
      fill: var(--bright-purple);
    }
  }
}

.swiper {
  position: relative;
  padding: 0 20px;

  .arrow_prev, .arrow_next {
    height: 100%;
    max-width: 24px;
    position: absolute;
    top: 50%;
    z-index: 10;
    border-radius: 8px;
    background: white;

    &:disabled {
      display: none;
    }
  }

  .arrow_prev {
    left: -7px;
    transform: translateY(-50%) rotate(-180deg);
  }

  .arrow_next {
    right: -8px;
    transform: translateY(-50%);
  }
}



