@keyframes fadeOut {
  0% {
    opacity: 0.01;
  }
  50% {
    opacity: 0.02;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0.01;
  }
  50% {
    opacity: 0.02;
  }
  100% {
    opacity: 1;
  }
}

.btn {
  color: var(--purple-gray, #514761);
  font-size: 20px;
  line-height: 26px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 1px;
    width: 100%;
    opacity: 0;
    background-color: var(--bright-purple);
    transition: opacity .3s ease;
  }

  &.active {
    color: var(--bright-purple);
    font-weight: 600;

    &::after {
      opacity: 1;
    }
  }
}

.container {
  display: flex;
  gap: 60px;
  padding-bottom: 1px;
  border-bottom: 1px solid #e5eaf8;
  margin-bottom: 32px;
}

.content {
  opacity: 0;
  transition: opacity 1s ease;
  /* Інші стилі */
  &.active {
    opacity: 1;
  }

  //&.fadeOut {
  //  animation: fadeOut 0.3s ease;
  //}

  //&.fadeIn {
  //  animation: fadeIn 0.3s ease;
  //}
}

.enter {
  display: none;
  opacity: 0.01;
}

.enterActive {
  display: block;
  //opacity: 1;
  animation: fadeIn 400ms ease-in;
}

.exit {
  display: block;
  opacity: 1;
}

.exitActive {
  opacity: 0.01;
  display: none;
  transition: all 200ms ease-in;
}
