:root {
  // base
  --content-width: 1230px;

  // COLORS

  // primary
  --black: #1e1d21;
  --bright-purple: #5826da;
  --white: #ffffff;
  // secondary
  --bright-pink: #c840a8;
  --exotic-pink: #e8467c;
  --calm-orange: #fa7e47;
  --warm-yellow: #f6c660;
  --bright-yellow: #faf894;
  --toxic-green: #26dac4;
  --dark-purple: #4117ad;
  // tritiary
  --purple-gray: #524b5b;
  --gray: #aea8b7;
  --light-gray: #E0E4F0;
  --lightest-gray: #f9fafe;
  --lavander: #daccff;
  --light-blue: #c9dafa;
  --ukraine-blue: #2356b1;
  --ukraine-yellow: #f7d849;
  --middle-purple: #9e7cf4;
  --light-purple: #f3efff;
  --light-exotic-pink: #ff6fa0;
  --lightest-exotic-pink: #ffdfea;
  --light-calm-orange: #ffa780;
  --lightest-calm-orange: #ffe4d8;
}